<div class="social-feed-element {{? !it.moderation_passed}}hidden{{?}}" dt-create="{{=it.dt_create}}" social-feed-id = "{{=it.id}}">
    <div class='content'>
        <a class="pull-left" href="{{=it.author_link}}" target="_blank">
            <img class="media-object" src="{{=it.author_picture}}">
        </a>
        <div class="media-body">
            <p>
                <span class="author-title">{{=it.author_name}}</span>
                <a href="./" class="author-link">@{{=it.author_name}}</a> 
            </p>
            <div class='text-wrapper'>
                <p class="social-feed-text">{{=it.text}} <a href="{{=it.link}}" target="_blank" class="read-button">read more</a></p>
            </div>
        </div>
    </div>
    {{=it.attachment}}
</div>